# Binaries
**/bin/
**/target/

# C
*.o
*.out
*.exe
examples/c/hello

# Assembly
*.obj
*.bin
*.elf
examples/assembly/hello

# CUDA
*.ptx
examples/cuda/hello 

# LaTeX
*.pdf
*.aux
*.log

# frontend
*/node_modules
*/storybook-static
